@use "variable" as *;
@use "svg" as *;
.containerConcept {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $baseLightGray;
    padding: 3em 2em 4em;
    @include sp {
        padding: 6vw 4vw;
    }
    article {
        max-width: $articleMaxWidth;
        @include sp {
            max-width: unset;
        }
        & > ul {
            display: flex;
            flex-direction: column;
            font-size: inherit;
            gap: 3em 0;
            @include sp {
                gap: 10vw 0;
            }
            & > li {
                display: flex;
                font-size: inherit;
                gap: 0 2em;
                @include sp {
                    flex-direction: column;
                    gap: 6vw 0;
                }
                &:nth-of-type(2n) {
                    flex-direction: row-reverse;
                    @include sp {
                        flex-direction: column;
                    }
                }
                .wrapImage {
                    width: 48%;
                    img {
                        aspect-ratio: 1.3;
                        object-fit: cover;
                        @include sp {
                            aspect-ratio: 1.6;
                        }
                    }
                    @include sp {
                        width: 100%;
                        order: -1;
                    }
                }
                .wrapText {
                    flex: 1;
                    font-size: inherit;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-top: 5em;
                    gap: 3em 0;
                    @include sp {
                        gap: 4vw 0;
                        padding-top: unset;
                    }
                    h3 {
                        font-size: FZ(28);
                        letter-spacing: 0.08em;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                    p {
                        font-size: FZ(16);
                        letter-spacing: 0.12em;
                        line-height: 1.6em;
                        text-align: justify;
                    }
                    .itemLink {
                        font-size: FZ(14);
                        border: 1px solid $baseBlack;
                        padding: 0.3em 1em;
                        transition: 0.3s ease-out;
                        margin-top: 2em;
                        @include pc {
                            &:hover {
                                background-color: $baseBlack;
                                color: $baseWhite;
                            }
                        }
                        @include sp {
                            width: 100%;
                            text-align: center;
                            font-size: FZ(18);
                            padding-block: 0.5em;
                        }
                    }
                }
            }
        }
    }
}
