@use "variable" as *;
@use "svg" as *;
.containerPageTitle {
    display: flex;
    justify-content: center;
    padding: 8em 2em 5em;
    @include sp {
        padding: 10vw 4vw 6vw;
    }
    article {
        max-width: $articleMaxWidth;
        display: flex;
        div {
            font-size: inherit;
            display: flex;
            flex-direction: column;
            gap: 4em 0;
            h2 {
                font-size: FZ(28);
                letter-spacing: 0.12em;
                @include sp {
                    font-size: FZ(24);
                }
            }
            & > span {
                position: relative;
                font-size: FZ(16);
                letter-spacing: 0.2em;
                &::before {
                    content: "";
                    left: 0;
                    position: absolute;
                    bottom: calc(100% + 2em);
                    width: 4em;
                    height: 2px;
                    background-color: #c0c6c9;
                }
            }
        }
    }
}
